<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/checkbox.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/map2.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- The above is a learning/prototyping version.  update for prod -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="mobile-nav" style="background-color: rgb(69, 14, 172) !important;">
      <img src="../static/Logo_White v2.png" width="80" height="40" alt="Medpal Logo" class="d-inline-block align-top" >
      <h1>=</h1>
    </div>
    <div class="offline-indicator">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="public">
          <label style="font-weight: bold;">Offline Indicator</label>
        </div>
    </div>
    <div id="vueApp" class="map-container">
      <div id="map"></div>
    </div>
    <div class="arrival-info">
      <div class="arrival-info-left">
        <h4>10 min</h4>
        <p>1.5 miles away</p>
      </div>
      <button>
        I Arrived
      </button>
    </div>
    <!-- Todo: Make the database call for the lat long from axios -->
    <script>
      var vm = new Vue({
        el: "#vueApp",
        data: {
          lat: 26.393376,
          long: -80.078069
        }
      });
//Example db axios call.  Will continue in AM if needed.  
      // axios
            // change the address here to route for get geocoordinates from userid
      //   .get(`/localhost:8080/dbrouteForgetAddress`, {
      //     params: {
      //       userid: 1
      //     }
      //   })
      //   .then(response => {
        // Sets the vue data objects to values from db or api call.
      //     vm.lat = response.data.lat;
      //      vm.long = response.data.long;
      //   })
      //   .catch(err => {
      //     console.log(err);
      //   });

      

      // function showPosition(position) {
      //   x.innerHTML = "Latitude: " + position.coords.latitude +
      //   "<br>Longitude: " + position.coords.longitude;
      // }

      // This function tells map what info to contain
      function initMap() {
        let fakeLat = 0
        let fakeLng = 0
        var myLatLng = { lat: vm.lat, lng: vm.long };
        var LatLng2 = { lat: 0, lng: 0 };

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((position) => {
            fakeLat = position.coords.latitude;
            fakeLng = position.coords.longitude;
            
            // return { lat: position.coords.latitude, lng: position.coords.longitude }
          });
          // console.log(test)
        } else {
          console.log("nope")
        }
        console.log(fakeLat)
        console.log(fakeLng)

        let map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12.9,
          center: { lat: 26.4044003, lng: -80.1122331 }
        });


        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: "https://maps.google.com/mapfiles/ms/icons/red-dot.png", 
          title: "Hello World!"
        });


        var marker2 = new google.maps.Marker({
          position: { lat: 26.4044003, lng: -80.1202331 },
          map: map,
          icon: "https://maps.google.com/mapfiles/ms/icons/green-dot.png", 
          title: "You are here!"
        });
      }
    </script>
    <!-- This script gets the map from the api -->
    
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/checkbox.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_spAgjWSXoJISNjY9Nz2B817JGEn65x0&callback=initMap"
    ></script>
  </body>
</html>
<script></script>
